{% extends 'registration/base.html' %}
{% block content %}

<div class="card-body">
    <h4>Applications List</h4>
    <table class="table" style="font-size: smaller;">
        <thead>
            <tr>
                <th scope="col">Fecha Registro</th>
                <th scope="col">Ficha Registral</th>
                <th scope="col">DNI</th>
                <th scope="col">Nombres</th>
                <th scope="col">Tarifa</th>
                <th scope="col">Documentos adjuntos</th>
                <th scope="col">Observaciones</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for application_today in applications_today %}
            <tr>
                <td> {{ application_today.fecharegistro }}</td>
                <td> {{ application_today.ficharegistral }}</td>
                <td> {{ application_today.dni }}</td>
                <td> {{ application_today.nombres }}</td>
                <td> {{ application_today.tarifa }}</td>
                <td> {{ application_today.doc_adjuntos }}</td>
                <td> {{ application_today.observaciones }}</td>
                <td>
                    <a type="button" class="btn btn-warning" href="Applications-Update/{{ application_today.id }}">Update</a>
                    <a type="button" class="btn btn-danger" href="Applications-Delete/{{ application_today.id }}">Delete</a>
                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a type="button" class="btn btn-success" href="{% url 'register:applications-create' %}">Create</a> <!-- se llama a la vista -->
    

</div>
{% endblock %}